<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>奥迪</key>
			<string>33</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>比亚迪</key>
			<string>75</string>
			<key>标致</key>
			<string>13</string>
			<key>别克</key>
			<string>38</string>
			<key>巴博斯 </key>
			<string>140</string>
			<key>宝骏</key>
			<string>120</string>
			<key>宝马</key>
			<string>15</string>
			<key>保时捷</key>
			<string>40</string>
			<key>北京汽车</key>
			<string>27</string>
			<key>北汽威望</key>
			<string>143</string>
			<key>北汽新能源</key>
			<string>208</string>
			<key>奔驰</key>
			<string>36</string>
			<key>奔腾</key>
			<string>95</string>
			<key>本田</key>
			<string>14</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>昌河</key>
			<string>79</string>
			<key>长安</key>
			<string>76</string>
			<key>长安商用</key>
			<string>163</string>
			<key>长城</key>
			<string>77</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>DS</key>
			<string>169</string>
			<key>大众</key>
			<string>1</string>
			<key>道奇</key>
			<string>41</string>
			<key>东风</key>
			<string>32</string>
			<key>东风风度</key>
			<string>187</string>
			<key>东风风神</key>
			<string>113</string>
			<key>东风小康</key>
			<string>142</string>
			<key>东风风行</key>
			<string>165</string>
			<key>东南</key>
			<string>81</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>法拉利</key>
			<string>42</string>
			<key>菲亚特</key>
			<string>11</string>
			<key>丰田</key>
			<string>3</string>
			<key>福迪</key>
			<string>141</string>
			<key>福汽启腾</key>
			<string>197</string>
			<key>福特</key>
			<string>8</string>
			<key>福田</key>
			<string>96</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>GMC</key>
			<string>112</string>
			<key>观致</key>
			<string>152</string>
			<key>广汽传祺</key>
			<string>82</string>
			<key>广汽吉奥</key>
			<string>108</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>哈飞</key>
			<string>24</string>
			<key>哈弗</key>
			<string>181</string>
			<key>海格</key>
			<string>150</string>
			<key>海马</key>
			<string>86</string>
			<key>红旗</key>
			<string>91</string>
			<key>华泰</key>
			<string>87</string>
			<key>黄海</key>
			<string>97</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>Jeep</key>
			<string>46</string>
			<key>吉利汽车</key>
			<string>25</string>
			<key>江淮</key>
			<string>84</string>
			<key>江铃</key>
			<string>119</string>
			<key>江铃集团轻汽</key>
			<string>210</string>
			<key>捷豹</key>
			<string>44</string>
			<key>金杯</key>
			<string>83</string>
			<key>九龙</key>
			<string>151</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>卡威</key>
			<string>199</string>
			<key>开瑞</key>
			<string>101</string>
			<key>凯迪拉克</key>
			<string>47</string>
			<key>克莱斯勒</key>
			<string>9</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>雷克萨斯</key>
			<string>52</string>
			<key>雷诺</key>
			<string>10</string>
			<key>理念</key>
			<string>124</string>
			<key>力帆</key>
			<string>80</string>
			<key>莲花汽车</key>
			<string>89</string>
			<key>猎豹汽车</key>
			<string>78</string>
			<key>林肯</key>
			<string>51</string>
			<key>铃木</key>
			<string>53</string>
			<key>陆风</key>
			<string>88</string>
			<key>路虎</key>
			<string>49</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>MG</key>
			<string>20</string>
			<key>MINI</key>
			<string>56</string>
			<key>马自达</key>
			<string>58</string>
			<key>玛莎拉蒂</key>
			<string>57</string>
			<key>迈凯轮</key>
			<string>20</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>纳智捷</key>
			<string>130</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>讴歌</key>
			<string>59</string>
			<key>欧宝</key>
			<string>60</string>
			<key>欧朗</key>
			<string>146</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>奇瑞</key>
			<string>26</string>
			<key>启辰</key>
			<string>122</string>
			<key>起亚</key>
			<string>62</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>荣威</key>
			<string>19</string>
			<key>日产</key>
			<string>63</string>
			<key>瑞麟</key>
			<string>103</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>smart</key>
			<string>45</string>
			<key>三菱</key>
			<string>68</string>
			<key>上汽大通</key>
			<string>155</string>
			<key>绅宝</key>
			<string>173</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>威麟</key>
			<string>102</string>
			<key>沃尔沃</key>
			<string>70</string>
			<key>五菱汽车</key>
			<string>114</string>
			<key>五十铃</key>
			<string>167</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>现代</key>
			<string>12</string>
			<key>雪佛兰</key>
			<string>71</string>
			<key>雪铁龙</key>
			<string>72</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>永源</key>
			<string>93</string>
			<key>英菲尼迪</key>
			<string>73</string>
			<key>依维柯</key>
			<string>144</string>
			<key>一汽</key>
			<string>110</string>
			<key>野马汽车</key>
			<string>111</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>众泰</key>
			<string>94</string>
			<key>中兴</key>
			<string>74</string>
			<key>中华</key>
			<string>22</string>
			<key>知豆</key>
			<string>206</string>
		</dict>
	</array>
</dict>
</plist>
